html,
body {
    margin: 0 auto;
    padding: 0;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table th,
.table td {
    text-align: left;
    font-weight: normal;
    border: none; 
    padding: 5px 5px;
}

.table th {
    background-color: #fff; 
}

.table tr:nth-child(even) {
    background-color: #f0f0f0; 
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table thead tr:first-child th,
.table tfoot tr:first-child th {
    border-top: 1px solid #888;
}
.table thead tr:last-child th,
.table tfoot tr:last-child th {
    border-bottom: 1px solid #888;
}

.page {
    padding: 0.7cm;
    background: #fff;
}

table {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #000;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.page {
    padding: 0; 
    background: #fff;
    width: 100%;
}

@media screen {
    html, body {
        padding-top: 10px;
    }

    .page {
        padding-top: 10px
    }
}

@media print {
    html,
    body {
        height: 100%;
        position: absolute;
    }

    html.receipt-58,
    .receipt-58 body {   
        width: 58mm;
    }

    html.receipt-80,
    .receipt-80 body {   
        width: 80mm;
    }

    .page {
        margin: 0;
    }

    html.page-a4,
    .page-a4 body {
        width: 21cm;
    }

    html.page-a4-landscape,
    .page-a4-landscape body {
        width: 29.7cm;
        max-width: 29.7cm;
        margin: 0;
    }

    .no-print,
    .no-print * {
        display: none !important;
    }
}

.m-3 {
    margin: 15px;
}

*.btn {
    display: inline-block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin: 0;
    text-decoration: none;
    color: #333;
}

*.btn:hover {
    background: #f8f8f8;
    border-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 11pt;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

table.info {
    margin: 10px 0;
}

table.info table td {
    border: none;
    padding: 2px 5px;
    border-bottom: 1px solid #888;
}

.text-primary {
    color: rgb(5, 133, 219);
}

.va-top {
    vertical-align: top;
}

.va-bottom {
    vertical-align: bottom;
}

.pt-2 {
    padding-top: 5px;
}

.warning-notes {
    font-style: italic;
    color: red;
    font-size: 9pt;
}

.my-xs {
    margin-top: 3px;
    margin-bottom: 3px;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.report-header-info {
    border-left: 3px solid #ddd;
    border-collapse:collapse;
    padding-left:10px
}
.report-header-info td:first-child {
    padding-left: 10px;
}

table.summary td, table.summary th {
    padding: 2px 5px;
}